.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.image_container {
    width: 800px;
    height: 400px;  
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.image:hover {
transform: scale(1.03);
}

@media (max-width: 1080px) {
    .image_container {
        width: 700px;
        height: 450px;
    }
}

@media (max-width: 768px) {
    .image_container {
        width: 450px;
        height: 250px;
    }
}

@media (max-width: 480px) {
    .image_container {
        width: 350px;
        height: 250px;
        max-width: 400px;
    }
}

.thumbnails_container {
    display: flex;
    overflow-x: auto;
    padding: 15px 10px;
    gap: 15px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.thumbnails_container::-webkit-scrollbar {
    height: 8px;
}

.thumbnails_container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.thumbnails_container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.thumbnail {
    flex: 0 0 auto;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border: 2px solid transparent;
    align-content: center;
    background: rgba(255, 255, 255, 0.05);
}

.thumbnail img {
    width:65%;
    border-radius: 5px;
    object-fit: cover;
}

.thumbnail.active {
    border-color: white;
    transform: scale(1.05);
}

.thumbnail:hover {
    transform: scale(1.025);
}
/*Фон у карточки*/
.thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thumbnail.active::after,
.thumbnail:hover::after {
    opacity: 1;
}